$light-blue: #04C5FE;
$dark-blue: #048AB1;
$light-shadow: 0 3px 3px rgba(0, 0, 0, .1);
$gradient: linear-gradient( 150deg, #04C5FE, #048AB1, #FF206E);

.About {
  color: #444;
  margin: 0;
  padding: 2rem 0 0 0;
  width: 100%;
}

h1,
h2,
h3 {
  color: $dark-blue;
}

article {
  letter-spacing: 1px;
  margin: 2rem auto;
  max-width: 60rem;
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: right;
}

p,
li {
  font-family: 'Fahkwang', sans-serif;
  font-weight: 200;
}

p {
  padding: 0 1rem;
}

.about-icon {
  background: #f2f2f2;
  border-radius: 50%;
  box-shadow: $light-shadow;
  grid-column-end: span 2;
  margin: auto;
  padding: 12px;
  position: relative;
  top: 2rem;
  width: 3rem;
  z-index: 0;
  .about-image {
    height: 3rem;
  }
}

.background-photo {
  filter: opacity(.1);
  left: 0;
  position: fixed;
  top: -18rem;
  width: 100vw;
  z-index: -1;
}

.about-intro {
  h1 {
    text-shadow: 0 0 12px rgba(0, 0, 0, .1);
  }
  p {
    text-shadow: 0 0 2rem rgba(0, 0, 0, .2);
  }
}

.about-photo {
  border-radius: 4px;
  box-shadow: $light-shadow;
  width: 50rem;
  margin-top: 3rem;
}

.profile-picture {
  border-radius: 50%;
  box-shadow: $light-shadow;
  margin-top: 3rem;
  width: 20rem;
}

section {
  background: linear-gradient(to left, #fcfcfc, #f2f2f2);
  display: grid;
  grid-template-columns: 30rem 30rem;
  letter-spacing: 1px;
  padding: 2rem calc(50% - 30rem) 0;
  margin: 0;
  text-align: center;
  width: 100vw;
}

.about-tech {
  color: #fcfcfc;
  background: $gradient;
  box-shadow: $light-shadow;
  width: 60rem;
  h3 {
    color: $light-blue;
  }
  .about-education {
    grid-column-end: span 2;
  }
  .about-list {
    max-width: 30rem;
    padding: 0 calc(50% - 30rem);
    text-align: justify;
    width: 100%;
    p {
      padding: 0;
    }
  }
  .stack-list {
    h3 {
      text-align: left;
    }
  }
  .tech-list {
    h3 {
      text-align: right;
    }
  }
}

.about-personal {
  width: 60rem;
  .personal-intro {
    grid-column-end: span 2;
  }
  .personal-visual,
  .personal-functional {
    p {
      text-align: justify;
    }
  }

}

